<app-menufront></app-menufront>
<div class="banner-wrapper">
  <div class="banner-image">
    <img src="assets/images/backgrounds/walppaperinfo.jpg" alt="Banner">
    <div class="banner-text">
      <h1 class="title-small">PROGRAMMES DISPONIBLES</h1>
      <br>
      <h2 class="title-big">Formations</h2>
    </div>
  </div>
</div>
<div class="formation-section">
  <h2 class="formation-title">DÉCOUVREZ NOS FORMATIONS</h2>
  <p class="formation-subtitle">Découvrez nos programmes innovants, conçus pour booster vos compétences dans les domaines les plus demandés !</p>
</div>

<br>

<div class="search-container">
  
  <h2 class="search-title">Trouvez votre formation</h2>
  
  
  <div class="unified-search-bar">
    
    <div class="search-field">
      <label class="search-label">Nom de formation</label>
      <div class="input-wrapper">
        <i class="fa fa-search"></i>
        <input 
          type="text" 
          [(ngModel)]="searchTermNom" 
          placeholder="Rechercher par nom" 
          (input)="filterFormations()"
        >
      </div>
    </div>
    <div class="search-field">
      <label class="search-label">Référence</label>
      <div class="input-wrapper">
        <i class="fa fa-barcode"></i>
        <input 
          type="text" 
          [(ngModel)]="searchTermReference" 
          placeholder="Rechercher par référence" 
          (input)="filterFormations()"
        >
      </div>
    </div>
    
    
    
  </div>
  
</div>

<div class="formations-container">
  
  <div class="total-overlay">Total des formations: {{ paginatedFormations.length }} </div>
  <div class="sidebar">
    <h3>Filtrer les formations</h3>
    <div class="filter-group">
      <label>Catégorie :</label>
      <div *ngFor="let cat of uniqueCategories">
        <input type="checkbox" [value]="cat" (change)="onCategoryChange($event)" /> {{ cat }}
      </div>
    </div>
    <div class="filter-group">
      <label>Type de formation :</label>
      <div *ngFor="let type of uniqueTypes">
        <input type="checkbox" [value]="type" (change)="onTypeChange($event)" /> {{ type }}
      </div>
    </div>
    <button class="btn btn-primary" (click)="applyFilters()">Rechercher</button>
    <button class="btn btn-secondary" (click)="resetFilters()">Rafraîchir</button>

    <button class="btn btn-success export-btn" (click)="exportToPDF()">
  <i class="pi pi-download"></i> Exporter Catalogue PDF
  </button>
  </div>

  

  <div class="formations-grid">
    <div class="formation-card" *ngFor="let formation of paginatedFormations">
      <img [src]="'http://localhost:8085/api/micro-formation/get-file/' + formation.image.replace('/downloadFile/','')" alt="Image de la formation" class="formation-image" />
      <div class="card-content">
        <h2>{{ formation.formationNom }}</h2>
        <p class="description"><strong>Reference:</strong>{{ formation.reference }}</p>
        <p class="description">{{ formation.description }}</p>
        <p class="description"><strong>Catégorie :</strong> {{ formation.categorie }}</p>
      
        
        <div class="button-wrapper">
          <button 
            pButton 
            type="button" 
            icon="pi pi-info-circle" 
            label="Détails"
            class="custom-button"
            (click)="showFormationDetails(formation)">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pagination">
  <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
    Précédent
  </button>
  <span>Page {{ currentPage }} / {{ totalPages }}</span>
  <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">
    Suivant
  </button>
</div>
<br>
<app-showactualitedetailoffice #formationDetailsModal></app-showactualitedetailoffice>


<br>
<br>
<app-footer></app-footer>